nifi_usecase/CSV_to_PARQUET/CSV_to_PARQUET.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description>html of nifi flow for converting csv to parquet</description>
    <groupId>b43a0125-016d-1000-9abe-ed9cd24a88b6</groupId>
    <name>CSV_to_PARQUET</name>
    <snippet>
        <processGroups>
            <id>2a056ddf-6637-3563-0000-000000000000</id>
            <parentGroupId>355a806f-59f5-3f94-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>0524ce70-77d2-3bde-0000-000000000000</id>
                    <parentGroupId>2a056ddf-6637-3563-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>2a056ddf-6637-3563-0000-000000000000</groupId>
                        <id>9544123d-5cda-3f55-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>2a056ddf-6637-3563-0000-000000000000</groupId>
                        <id>340c68ee-2dbb-3e92-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>67581308-4f2d-392b-0000-000000000000</id>
                    <parentGroupId>2a056ddf-6637-3563-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>2a056ddf-6637-3563-0000-000000000000</groupId>
                        <id>340c68ee-2dbb-3e92-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>2a056ddf-6637-3563-0000-000000000000</groupId>
                        <id>b4f74487-9535-3629-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>79ef45f4-1015-3ea1-0000-000000000000</id>
                    <parentGroupId>2a056ddf-6637-3563-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>2a056ddf-6637-3563-0000-000000000000</groupId>
                        <id>440cc2a7-7f3b-3053-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>2a056ddf-6637-3563-0000-000000000000</groupId>
                        <id>e26bec4e-683a-35a8-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>9e201f49-f20d-3c1b-0000-000000000000</id>
                    <parentGroupId>2a056ddf-6637-3563-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>2a056ddf-6637-3563-0000-000000000000</groupId>
                        <id>d7894a66-e911-36fd-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>2a056ddf-6637-3563-0000-000000000000</groupId>
                        <id>440cc2a7-7f3b-3053-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>a2e651b2-6424-307d-0000-000000000000</id>
                    <parentGroupId>2a056ddf-6637-3563-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>2a056ddf-6637-3563-0000-000000000000</groupId>
                        <id>b4f74487-9535-3629-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>2a056ddf-6637-3563-0000-000000000000</groupId>
                        <id>d7894a66-e911-36fd-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <processors>
                    <id>340c68ee-2dbb-3e92-0000-000000000000</id>
                    <parentGroupId>2a056ddf-6637-3563-0000-000000000000</parentGroupId>
                    <position>
                        <x>942.5474964982154</x>
                        <y>215.99995836002068</y>
                    </position>
                    <bundle>
                        <artifact>nifi-parquet-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>compression-type</key>
<value>
    <name>compression-type</name>
</value>
                            </entry>
                            <entry>
<key>row-group-size</key>
<value>
    <name>row-group-size</name>
</value>
                            </entry>
                            <entry>
<key>page-size</key>
<value>
    <name>page-size</name>
</value>
                            </entry>
                            <entry>
<key>dictionary-page-size</key>
<value>
    <name>dictionary-page-size</name>
</value>
                            </entry>
                            <entry>
<key>max-padding-size</key>
<value>
    <name>max-padding-size</name>
</value>
                            </entry>
                            <entry>
<key>enable-dictionary-encoding</key>
<value>
    <name>enable-dictionary-encoding</name>
</value>
                            </entry>
                            <entry>
<key>enable-validation</key>
<value>
    <name>enable-validation</name>
</value>
                            </entry>
                            <entry>
<key>writer-version</key>
<value>
    <name>writer-version</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>compression-type</key>
<value>UNCOMPRESSED</value>
                            </entry>
                            <entry>
<key>row-group-size</key>
                            </entry>
                            <entry>
<key>page-size</key>
                            </entry>
                            <entry>
<key>dictionary-page-size</key>
                            </entry>
                            <entry>
<key>max-padding-size</key>
                            </entry>
                            <entry>
<key>enable-dictionary-encoding</key>
                            </entry>
                            <entry>
<key>enable-validation</key>
                            </entry>
                            <entry>
<key>writer-version</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ConvertAvroToParquet</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.parquet.ConvertAvroToParquet</type>
                </processors>
                <processors>
                    <id>440cc2a7-7f3b-3053-0000-000000000000</id>
                    <parentGroupId>2a056ddf-6637-3563-0000-000000000000</parentGroupId>
                    <position>
                        <x>311.8429066544654</x>
                        <y>202.9999888775988</y>
                    </position>
                    <bundle>
                        <artifact>nifi-kite-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Schema Output Destination</key>
<value>
    <name>Schema Output Destination</name>
</value>
                            </entry>
                            <entry>
<key>Input Content Type</key>
<value>
    <name>Input Content Type</name>
</value>
                            </entry>
                            <entry>
<key>CSV Header Definition</key>
<value>
    <name>CSV Header Definition</name>
</value>
                            </entry>
                            <entry>
<key>Get CSV Header Definition From Data</key>
<value>
    <name>Get CSV Header Definition From Data</name>
</value>
                            </entry>
                            <entry>
<key>CSV Header Line Skip Count</key>
<value>
    <name>CSV Header Line Skip Count</name>
</value>
                            </entry>
                            <entry>
<key>CSV delimiter</key>
<value>
    <name>CSV delimiter</name>
</value>
                            </entry>
                            <entry>
<key>CSV Escape String</key>
<value>
    <name>CSV Escape String</name>
</value>
                            </entry>
                            <entry>
<key>CSV Quote String</key>
<value>
    <name>CSV Quote String</name>
</value>
                            </entry>
                            <entry>
<key>Pretty Avro Output</key>
<value>
    <name>Pretty Avro Output</name>
</value>
                            </entry>
                            <entry>
<key>Avro Record Name</key>
<value>
    <name>Avro Record Name</name>
</value>
                            </entry>
                            <entry>
<key>Number Of Records To Analyze</key>
<value>
    <name>Number Of Records To Analyze</name>
</value>
                            </entry>
                            <entry>
<key>Charset</key>
<value>
    <name>Charset</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Schema Output Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Input Content Type</key>
<value>csv</value>
                            </entry>
                            <entry>
<key>CSV Header Definition</key>
<value>Name,Age,Weight,Hieght</value>
                            </entry>
                            <entry>
<key>Get CSV Header Definition From Data</key>
<value>false</value>
                            </entry>
                            <entry>
<key>CSV Header Line Skip Count</key>
<value>1</value>
                            </entry>
                            <entry>
<key>CSV delimiter</key>
<value>,</value>
                            </entry>
                            <entry>
<key>CSV Escape String</key>
<value>\</value>
                            </entry>
                            <entry>
<key>CSV Quote String</key>
<value>'</value>
                            </entry>
                            <entry>
<key>Pretty Avro Output</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Avro Record Name</key>
<value>sample</value>
                            </entry>
                            <entry>
<key>Number Of Records To Analyze</key>
<value>10</value>
                            </entry>
                            <entry>
<key>Charset</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>InferAvroSchema</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unsupported content</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.kite.InferAvroSchema</type>
                </processors>
                <processors>
                    <id>9544123d-5cda-3f55-0000-000000000000</id>
                    <parentGroupId>2a056ddf-6637-3563-0000-000000000000</parentGroupId>
                    <position>
                        <x>939.7268177872779</x>
                        <y>10.246704423253107</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Directory</key>
<value>
    <name>Directory</name>
</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>
    <name>Conflict Resolution Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Create Missing Directories</key>
<value>
    <name>Create Missing Directories</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Count</key>
<value>
    <name>Maximum File Count</name>
</value>
                            </entry>
                            <entry>
<key>Last Modified Time</key>
<value>
    <name>Last Modified Time</name>
</value>
                            </entry>
                            <entry>
<key>Permissions</key>
<value>
    <name>Permissions</name>
</value>
                            </entry>
                            <entry>
<key>Owner</key>
<value>
    <name>Owner</name>
</value>
                            </entry>
                            <entry>
<key>Group</key>
<value>
    <name>Group</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Directory</key>
<value>/Users/madhusudan.tn/Downloads/code/</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>fail</value>
                            </entry>
                            <entry>
<key>Create Missing Directories</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Maximum File Count</key>
                            </entry>
                            <entry>
<key>Last Modified Time</key>
                            </entry>
                            <entry>
<key>Permissions</key>
                            </entry>
                            <entry>
<key>Owner</key>
                            </entry>
                            <entry>
<key>Group</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutFile</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.PutFile</type>
                </processors>
                <processors>
                    <id>b4f74487-9535-3629-0000-000000000000</id>
                    <parentGroupId>2a056ddf-6637-3563-0000-000000000000</parentGroupId>
                    <position>
                        <x>936.8072621232154</x>
                        <y>416.00000795108514</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>
    <name>filename</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>${filename:substringBeforeLast('.')}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>d7894a66-e911-36fd-0000-000000000000</id>
                    <parentGroupId>2a056ddf-6637-3563-0000-000000000000</parentGroupId>
                    <position>
                        <x>302.7531849747779</x>
                        <y>407.0224192975207</y>
                    </position>
                    <bundle>
                        <artifact>nifi-kite-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Hadoop configuration files</key>
<value>
    <name>Hadoop configuration files</name>
</value>
                            </entry>
                            <entry>
<key>Record schema</key>
<value>
    <name>Record schema</name>
</value>
                            </entry>
                            <entry>
<key>CSV charset</key>
<value>
    <name>CSV charset</name>
</value>
                            </entry>
                            <entry>
<key>CSV delimiter</key>
<value>
    <name>CSV delimiter</name>
</value>
                            </entry>
                            <entry>
<key>CSV quote character</key>
<value>
    <name>CSV quote character</name>
</value>
                            </entry>
                            <entry>
<key>CSV escape character</key>
<value>
    <name>CSV escape character</name>
</value>
                            </entry>
                            <entry>
<key>Use CSV header line</key>
<value>
    <name>Use CSV header line</name>
</value>
                            </entry>
                            <entry>
<key>Lines to skip</key>
<value>
    <name>Lines to skip</name>
</value>
                            </entry>
                            <entry>
<key>kite-compression-type</key>
<value>
    <name>kite-compression-type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Hadoop configuration files</key>
                            </entry>
                            <entry>
<key>Record schema</key>
<value>${inferred.avro.schema}</value>
                            </entry>
                            <entry>
<key>CSV charset</key>
<value>utf8</value>
                            </entry>
                            <entry>
<key>CSV delimiter</key>
<value>,</value>
                            </entry>
                            <entry>
<key>CSV quote character</key>
<value>"</value>
                            </entry>
                            <entry>
<key>CSV escape character</key>
<value>\</value>
                            </entry>
                            <entry>
<key>Use CSV header line</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Lines to skip</key>
<value>1</value>
                            </entry>
                            <entry>
<key>kite-compression-type</key>
<value>NONE</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ConvertCSVToAvro</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>incompatible</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.kite.ConvertCSVToAvro</type>
                </processors>
                <processors>
                    <id>e26bec4e-683a-35a8-0000-000000000000</id>
                    <parentGroupId>2a056ddf-6637-3563-0000-000000000000</parentGroupId>
                    <position>
                        <x>310.4615589982154</x>
                        <y>-1.1122401190277742E-5</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Input Directory</key>
<value>
    <name>Input Directory</name>
</value>
                            </entry>
                            <entry>
<key>File Filter</key>
<value>
    <name>File Filter</name>
</value>
                            </entry>
                            <entry>
<key>Path Filter</key>
<value>
    <name>Path Filter</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Keep Source File</key>
<value>
    <name>Keep Source File</name>
</value>
                            </entry>
                            <entry>
<key>Recurse Subdirectories</key>
<value>
    <name>Recurse Subdirectories</name>
</value>
                            </entry>
                            <entry>
<key>Polling Interval</key>
<value>
    <name>Polling Interval</name>
</value>
                            </entry>
                            <entry>
<key>Ignore Hidden Files</key>
<value>
    <name>Ignore Hidden Files</name>
</value>
                            </entry>
                            <entry>
<key>Minimum File Age</key>
<value>
    <name>Minimum File Age</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Age</key>
<value>
    <name>Maximum File Age</name>
</value>
                            </entry>
                            <entry>
<key>Minimum File Size</key>
<value>
    <name>Minimum File Size</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Size</key>
<value>
    <name>Maximum File Size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Input Directory</key>
<value>/Users/madhusudan.tn/Downloads/code/demo</value>
                            </entry>
                            <entry>
<key>File Filter</key>
<value>[^\.].*</value>
                            </entry>
                            <entry>
<key>Path Filter</key>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>10</value>
                            </entry>
                            <entry>
<key>Keep Source File</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Recurse Subdirectories</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Polling Interval</key>
<value>0 sec</value>
                            </entry>
                            <entry>
<key>Ignore Hidden Files</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Minimum File Age</key>
<value>0 sec</value>
                            </entry>
                            <entry>
<key>Maximum File Age</key>
                            </entry>
                            <entry>
<key>Minimum File Size</key>
<value>0 B</value>
                            </entry>
                            <entry>
<key>Maximum File Size</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GetFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GetFile</type>
                </processors>
            </contents>
            <name>csvtoparquet</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>11/19/2019 22:11:14 IST</timestamp>
</template>
