nifi_usecase/SFTP/SFTP.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description></description>
    <groupId>b43a0125-016d-1000-9abe-ed9cd24a88b6</groupId>
    <name>SFTP</name>
    <snippet>
        <processGroups>
            <id>88f2f48e-e1ea-37e0-0000-000000000000</id>
            <parentGroupId>355a806f-59f5-3f94-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>66bcd650-1be7-3b69-0000-000000000000</id>
                    <parentGroupId>88f2f48e-e1ea-37e0-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>00572fa4-b79b-323b-0000-000000000000</groupId>
                        <id>0b7ed9da-5608-3841-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>83c61a1e-bdcd-3ca3-0000-000000000000</groupId>
                        <id>a2d5dda4-cfe2-3662-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <processGroups>
                    <id>00572fa4-b79b-323b-0000-000000000000</id>
                    <parentGroupId>88f2f48e-e1ea-37e0-0000-000000000000</parentGroupId>
                    <position>
                        <x>1065.6852314561822</x>
                        <y>-1033.9544827306677</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>2e19942f-2173-332d-0000-000000000000</id>
                            <parentGroupId>00572fa4-b79b-323b-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>00572fa4-b79b-323b-0000-000000000000</groupId>
<id>0fa30ce0-e171-360a-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>00572fa4-b79b-323b-0000-000000000000</groupId>
<id>0b7ed9da-5608-3841-0000-000000000000</id>
<type>INPUT_PORT</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>a22d3ade-2d2a-3b9f-0000-000000000000</id>
                            <parentGroupId>00572fa4-b79b-323b-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>00572fa4-b79b-323b-0000-000000000000</groupId>
<id>f3182793-4992-395c-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>00572fa4-b79b-323b-0000-000000000000</groupId>
<id>0fa30ce0-e171-360a-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>c26cf04a-7f2a-3a9b-0000-000000000000</id>
                            <parentGroupId>00572fa4-b79b-323b-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>00572fa4-b79b-323b-0000-000000000000</groupId>
<id>9ec63151-6b53-3674-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>00572fa4-b79b-323b-0000-000000000000</groupId>
<id>0fa30ce0-e171-360a-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <inputPorts>
                            <id>0b7ed9da-5608-3841-0000-000000000000</id>
                            <parentGroupId>00572fa4-b79b-323b-0000-000000000000</parentGroupId>
                            <position>
<x>-510.3030619254994</x>
<y>-444.64472602790534</y>
                            </position>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>inputsftp</name>
                            <state>STOPPED</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <processors>
                            <id>0fa30ce0-e171-360a-0000-000000000000</id>
                            <parentGroupId>00572fa4-b79b-323b-0000-000000000000</parentGroupId>
                            <position>
<x>-560.3030055439235</x>
<y>-303.64476138250745</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Directory</key>
        <value>
            <name>Directory</name>
        </value>
    </entry>
    <entry>
        <key>Conflict Resolution Strategy</key>
        <value>
            <name>Conflict Resolution Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Create Missing Directories</key>
        <value>
            <name>Create Missing Directories</name>
        </value>
    </entry>
    <entry>
        <key>Maximum File Count</key>
        <value>
            <name>Maximum File Count</name>
        </value>
    </entry>
    <entry>
        <key>Last Modified Time</key>
        <value>
            <name>Last Modified Time</name>
        </value>
    </entry>
    <entry>
        <key>Permissions</key>
        <value>
            <name>Permissions</name>
        </value>
    </entry>
    <entry>
        <key>Owner</key>
        <value>
            <name>Owner</name>
        </value>
    </entry>
    <entry>
        <key>Group</key>
        <value>
            <name>Group</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Directory</key>
        <value>/Users/madhusudan.tn/downloads/output</value>
    </entry>
    <entry>
        <key>Conflict Resolution Strategy</key>
        <value>fail</value>
    </entry>
    <entry>
        <key>Create Missing Directories</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Maximum File Count</key>
    </entry>
    <entry>
        <key>Last Modified Time</key>
    </entry>
    <entry>
        <key>Permissions</key>
    </entry>
    <entry>
        <key>Owner</key>
    </entry>
    <entry>
        <key>Group</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutFile</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style>
<entry>
    <key>background-color</key>
    <value>#e0c91b</value>
</entry>
                            </style>
                            <type>org.apache.nifi.processors.standard.PutFile</type>
                        </processors>
                        <processors>
                            <id>9ec63151-6b53-3674-0000-000000000000</id>
                            <parentGroupId>00572fa4-b79b-323b-0000-000000000000</parentGroupId>
                            <position>
<x>-203.21203080771716</x>
<y>-85.73551614354881</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Directory</key>
        <value>
            <name>Directory</name>
        </value>
    </entry>
    <entry>
        <key>Conflict Resolution Strategy</key>
        <value>
            <name>Conflict Resolution Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Create Missing Directories</key>
        <value>
            <name>Create Missing Directories</name>
        </value>
    </entry>
    <entry>
        <key>Maximum File Count</key>
        <value>
            <name>Maximum File Count</name>
        </value>
    </entry>
    <entry>
        <key>Last Modified Time</key>
        <value>
            <name>Last Modified Time</name>
        </value>
    </entry>
    <entry>
        <key>Permissions</key>
        <value>
            <name>Permissions</name>
        </value>
    </entry>
    <entry>
        <key>Owner</key>
        <value>
            <name>Owner</name>
        </value>
    </entry>
    <entry>
        <key>Group</key>
        <value>
            <name>Group</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Directory</key>
        <value>/Users/madhusudan.tn/downloads/output</value>
    </entry>
    <entry>
        <key>Conflict Resolution Strategy</key>
        <value>fail</value>
    </entry>
    <entry>
        <key>Create Missing Directories</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Maximum File Count</key>
    </entry>
    <entry>
        <key>Last Modified Time</key>
    </entry>
    <entry>
        <key>Permissions</key>
    </entry>
    <entry>
        <key>Owner</key>
    </entry>
    <entry>
        <key>Group</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Success File</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style>
<entry>
    <key>background-color</key>
    <value>#e0c91b</value>
</entry>
                            </style>
                            <type>org.apache.nifi.processors.standard.PutFile</type>
                        </processors>
                        <processors>
                            <id>f3182793-4992-395c-0000-000000000000</id>
                            <parentGroupId>00572fa4-b79b-323b-0000-000000000000</parentGroupId>
                            <position>
<x>-809.2120308077172</x>
<y>-95.73551614354881</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Directory</key>
        <value>
            <name>Directory</name>
        </value>
    </entry>
    <entry>
        <key>Conflict Resolution Strategy</key>
        <value>
            <name>Conflict Resolution Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Create Missing Directories</key>
        <value>
            <name>Create Missing Directories</name>
        </value>
    </entry>
    <entry>
        <key>Maximum File Count</key>
        <value>
            <name>Maximum File Count</name>
        </value>
    </entry>
    <entry>
        <key>Last Modified Time</key>
        <value>
            <name>Last Modified Time</name>
        </value>
    </entry>
    <entry>
        <key>Permissions</key>
        <value>
            <name>Permissions</name>
        </value>
    </entry>
    <entry>
        <key>Owner</key>
        <value>
            <name>Owner</name>
        </value>
    </entry>
    <entry>
        <key>Group</key>
        <value>
            <name>Group</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Directory</key>
        <value>/Users/madhusudan.tn/Documents/output</value>
    </entry>
    <entry>
        <key>Conflict Resolution Strategy</key>
        <value>fail</value>
    </entry>
    <entry>
        <key>Create Missing Directories</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Maximum File Count</key>
    </entry>
    <entry>
        <key>Last Modified Time</key>
    </entry>
    <entry>
        <key>Permissions</key>
    </entry>
    <entry>
        <key>Owner</key>
    </entry>
    <entry>
        <key>Group</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Failed Files</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style>
<entry>
    <key>background-color</key>
    <value>#e0c91b</value>
</entry>
                            </style>
                            <type>org.apache.nifi.processors.standard.PutFile</type>
                        </processors>
                    </contents>
                    <name>sftpoutput</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>83c61a1e-bdcd-3ca3-0000-000000000000</id>
                    <parentGroupId>88f2f48e-e1ea-37e0-0000-000000000000</parentGroupId>
                    <position>
                        <x>359.2640754636234</x>
                        <y>-1055.4436184728552</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>41fbf731-be20-3e3f-0000-000000000000</id>
                            <parentGroupId>83c61a1e-bdcd-3ca3-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>83c61a1e-bdcd-3ca3-0000-000000000000</groupId>
<id>a2d5dda4-cfe2-3662-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>83c61a1e-bdcd-3ca3-0000-000000000000</groupId>
<id>3bdc580d-8d63-3ad5-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>b66e8a89-4504-39d0-0000-000000000000</id>
                            <parentGroupId>83c61a1e-bdcd-3ca3-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>83c61a1e-bdcd-3ca3-0000-000000000000</groupId>
<id>5d100823-ddb6-3a5c-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>83c61a1e-bdcd-3ca3-0000-000000000000</groupId>
<id>f882fa7e-8c47-3d7e-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>c9a8d24f-e2d9-3b8b-0000-000000000000</id>
                            <parentGroupId>83c61a1e-bdcd-3ca3-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>83c61a1e-bdcd-3ca3-0000-000000000000</groupId>
<id>a2d5dda4-cfe2-3662-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>comms.failure</selectedRelationships>
                            <selectedRelationships>not.found</selectedRelationships>
                            <selectedRelationships>permission.denied</selectedRelationships>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>83c61a1e-bdcd-3ca3-0000-000000000000</groupId>
<id>5d100823-ddb6-3a5c-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <outputPorts>
                            <id>a2d5dda4-cfe2-3662-0000-000000000000</id>
                            <parentGroupId>83c61a1e-bdcd-3ca3-0000-000000000000</parentGroupId>
                            <position>
<x>-1008.2448373095144</x>
<y>-547.5383033126366</y>
                            </position>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>outputsftp</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>3bdc580d-8d63-3ad5-0000-000000000000</id>
                            <parentGroupId>83c61a1e-bdcd-3ca3-0000-000000000000</parentGroupId>
                            <position>
<x>-1303.8923202151918</x>
<y>-884.3670590635134</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Hostname</key>
        <value>
            <name>Hostname</name>
        </value>
    </entry>
    <entry>
        <key>Port</key>
        <value>
            <name>Port</name>
        </value>
    </entry>
    <entry>
        <key>Username</key>
        <value>
            <name>Username</name>
        </value>
    </entry>
    <entry>
        <key>Password</key>
        <value>
            <name>Password</name>
        </value>
    </entry>
    <entry>
        <key>Private Key Path</key>
        <value>
            <name>Private Key Path</name>
        </value>
    </entry>
    <entry>
        <key>Private Key Passphrase</key>
        <value>
            <name>Private Key Passphrase</name>
        </value>
    </entry>
    <entry>
        <key>Remote Path</key>
        <value>
            <name>Remote Path</name>
        </value>
    </entry>
    <entry>
        <key>File Filter Regex</key>
        <value>
            <name>File Filter Regex</name>
        </value>
    </entry>
    <entry>
        <key>Path Filter Regex</key>
        <value>
            <name>Path Filter Regex</name>
        </value>
    </entry>
    <entry>
        <key>Polling Interval</key>
        <value>
            <name>Polling Interval</name>
        </value>
    </entry>
    <entry>
        <key>Search Recursively</key>
        <value>
            <name>Search Recursively</name>
        </value>
    </entry>
    <entry>
        <key>follow-symlink</key>
        <value>
            <name>follow-symlink</name>
        </value>
    </entry>
    <entry>
        <key>Ignore Dotted Files</key>
        <value>
            <name>Ignore Dotted Files</name>
        </value>
    </entry>
    <entry>
        <key>Delete Original</key>
        <value>
            <name>Delete Original</name>
        </value>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>
            <name>Connection Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Data Timeout</key>
        <value>
            <name>Data Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Host Key File</key>
        <value>
            <name>Host Key File</name>
        </value>
    </entry>
    <entry>
        <key>Max Selects</key>
        <value>
            <name>Max Selects</name>
        </value>
    </entry>
    <entry>
        <key>Remote Poll Batch Size</key>
        <value>
            <name>Remote Poll Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Strict Host Key Checking</key>
        <value>
            <name>Strict Host Key Checking</name>
        </value>
    </entry>
    <entry>
        <key>Send Keep Alive On Timeout</key>
        <value>
            <name>Send Keep Alive On Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Use Compression</key>
        <value>
            <name>Use Compression</name>
        </value>
    </entry>
    <entry>
        <key>Use Natural Ordering</key>
        <value>
            <name>Use Natural Ordering</name>
        </value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
            <name>proxy-configuration-service</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>
            <name>Proxy Type</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Host</key>
        <value>
            <name>Proxy Host</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Port</key>
        <value>
            <name>Proxy Port</name>
        </value>
    </entry>
    <entry>
        <key>Http Proxy Username</key>
        <value>
            <name>Http Proxy Username</name>
        </value>
    </entry>
    <entry>
        <key>Http Proxy Password</key>
        <value>
            <name>Http Proxy Password</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Hostname</key>
        <value>localhost</value>
    </entry>
    <entry>
        <key>Port</key>
        <value>22</value>
    </entry>
    <entry>
        <key>Username</key>
        <value>madhusudan.tn</value>
    </entry>
    <entry>
        <key>Password</key>
    </entry>
    <entry>
        <key>Private Key Path</key>
    </entry>
    <entry>
        <key>Private Key Passphrase</key>
    </entry>
    <entry>
        <key>Remote Path</key>
        <value>/Users/madhusudan.tn/downloads/incoming</value>
    </entry>
    <entry>
        <key>File Filter Regex</key>
    </entry>
    <entry>
        <key>Path Filter Regex</key>
    </entry>
    <entry>
        <key>Polling Interval</key>
        <value>60 sec</value>
    </entry>
    <entry>
        <key>Search Recursively</key>
        <value>false</value>
    </entry>
    <entry>
        <key>follow-symlink</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Ignore Dotted Files</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Delete Original</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>30 sec</value>
    </entry>
    <entry>
        <key>Data Timeout</key>
        <value>30 sec</value>
    </entry>
    <entry>
        <key>Host Key File</key>
    </entry>
    <entry>
        <key>Max Selects</key>
        <value>100</value>
    </entry>
    <entry>
        <key>Remote Poll Batch Size</key>
        <value>5000</value>
    </entry>
    <entry>
        <key>Strict Host Key Checking</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Send Keep Alive On Timeout</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Use Compression</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Use Natural Ordering</key>
        <value>false</value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>DIRECT</value>
    </entry>
    <entry>
        <key>Proxy Host</key>
    </entry>
    <entry>
        <key>Proxy Port</key>
    </entry>
    <entry>
        <key>Http Proxy Username</key>
    </entry>
    <entry>
        <key>Http Proxy Password</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>GetSFTP</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>DISABLED</state>
                            <style>
<entry>
    <key>background-color</key>
    <value>#263e82</value>
</entry>
                            </style>
                            <type>org.apache.nifi.processors.standard.GetSFTP</type>
                        </processors>
                        <processors>
                            <id>5d100823-ddb6-3a5c-0000-000000000000</id>
                            <parentGroupId>83c61a1e-bdcd-3ca3-0000-000000000000</parentGroupId>
                            <position>
<x>-772.755856453984</x>
<y>-937.8581686586876</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Hostname</key>
        <value>
            <name>Hostname</name>
        </value>
    </entry>
    <entry>
        <key>Port</key>
        <value>
            <name>Port</name>
        </value>
    </entry>
    <entry>
        <key>Username</key>
        <value>
            <name>Username</name>
        </value>
    </entry>
    <entry>
        <key>Password</key>
        <value>
            <name>Password</name>
        </value>
    </entry>
    <entry>
        <key>Private Key Path</key>
        <value>
            <name>Private Key Path</name>
        </value>
    </entry>
    <entry>
        <key>Private Key Passphrase</key>
        <value>
            <name>Private Key Passphrase</name>
        </value>
    </entry>
    <entry>
        <key>Remote File</key>
        <value>
            <name>Remote File</name>
        </value>
    </entry>
    <entry>
        <key>Completion Strategy</key>
        <value>
            <name>Completion Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Move Destination Directory</key>
        <value>
            <name>Move Destination Directory</name>
        </value>
    </entry>
    <entry>
        <key>Create Directory</key>
        <value>
            <name>Create Directory</name>
        </value>
    </entry>
    <entry>
        <key>Disable Directory Listing</key>
        <value>
            <name>Disable Directory Listing</name>
        </value>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>
            <name>Connection Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Data Timeout</key>
        <value>
            <name>Data Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Send Keep Alive On Timeout</key>
        <value>
            <name>Send Keep Alive On Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Host Key File</key>
        <value>
            <name>Host Key File</name>
        </value>
    </entry>
    <entry>
        <key>Strict Host Key Checking</key>
        <value>
            <name>Strict Host Key Checking</name>
        </value>
    </entry>
    <entry>
        <key>Use Compression</key>
        <value>
            <name>Use Compression</name>
        </value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
            <name>proxy-configuration-service</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>
            <name>Proxy Type</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Host</key>
        <value>
            <name>Proxy Host</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Port</key>
        <value>
            <name>Proxy Port</name>
        </value>
    </entry>
    <entry>
        <key>Http Proxy Username</key>
        <value>
            <name>Http Proxy Username</name>
        </value>
    </entry>
    <entry>
        <key>Http Proxy Password</key>
        <value>
            <name>Http Proxy Password</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Hostname</key>
        <value>${Hostname}</value>
    </entry>
    <entry>
        <key>Port</key>
        <value>22</value>
    </entry>
    <entry>
        <key>Username</key>
        <value>${Username}</value>
    </entry>
    <entry>
        <key>Password</key>
    </entry>
    <entry>
        <key>Private Key Path</key>
    </entry>
    <entry>
        <key>Private Key Passphrase</key>
    </entry>
    <entry>
        <key>Remote File</key>
        <value>/Users/madhusudan.tn/downloads/incoming</value>
    </entry>
    <entry>
        <key>Completion Strategy</key>
        <value>None</value>
    </entry>
    <entry>
        <key>Move Destination Directory</key>
    </entry>
    <entry>
        <key>Create Directory</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Disable Directory Listing</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>30 sec</value>
    </entry>
    <entry>
        <key>Data Timeout</key>
        <value>30 sec</value>
    </entry>
    <entry>
        <key>Send Keep Alive On Timeout</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Host Key File</key>
    </entry>
    <entry>
        <key>Strict Host Key Checking</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Use Compression</key>
        <value>false</value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>DIRECT</value>
    </entry>
    <entry>
        <key>Proxy Host</key>
    </entry>
    <entry>
        <key>Proxy Port</key>
    </entry>
    <entry>
        <key>Http Proxy Username</key>
    </entry>
    <entry>
        <key>Http Proxy Password</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>FetchSFTP</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>comms.failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>not.found</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>permission.denied</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style>
<entry>
    <key>background-color</key>
    <value>#420c22</value>
</entry>
                            </style>
                            <type>org.apache.nifi.processors.standard.FetchSFTP</type>
                        </processors>
                        <processors>
                            <id>f882fa7e-8c47-3d7e-0000-000000000000</id>
                            <parentGroupId>83c61a1e-bdcd-3ca3-0000-000000000000</parentGroupId>
                            <position>
<x>-776.9159990721009</x>
<y>-1261.1477632804103</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>listing-strategy</key>
        <value>
            <name>listing-strategy</name>
        </value>
    </entry>
    <entry>
        <key>Hostname</key>
        <value>
            <name>Hostname</name>
        </value>
    </entry>
    <entry>
        <key>Port</key>
        <value>
            <name>Port</name>
        </value>
    </entry>
    <entry>
        <key>Username</key>
        <value>
            <name>Username</name>
        </value>
    </entry>
    <entry>
        <key>Password</key>
        <value>
            <name>Password</name>
        </value>
    </entry>
    <entry>
        <key>Private Key Path</key>
        <value>
            <name>Private Key Path</name>
        </value>
    </entry>
    <entry>
        <key>Private Key Passphrase</key>
        <value>
            <name>Private Key Passphrase</name>
        </value>
    </entry>
    <entry>
        <key>Remote Path</key>
        <value>
            <name>Remote Path</name>
        </value>
    </entry>
    <entry>
        <key>Distributed Cache Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
            <name>Distributed Cache Service</name>
        </value>
    </entry>
    <entry>
        <key>Search Recursively</key>
        <value>
            <name>Search Recursively</name>
        </value>
    </entry>
    <entry>
        <key>follow-symlink</key>
        <value>
            <name>follow-symlink</name>
        </value>
    </entry>
    <entry>
        <key>File Filter Regex</key>
        <value>
            <name>File Filter Regex</name>
        </value>
    </entry>
    <entry>
        <key>Path Filter Regex</key>
        <value>
            <name>Path Filter Regex</name>
        </value>
    </entry>
    <entry>
        <key>Ignore Dotted Files</key>
        <value>
            <name>Ignore Dotted Files</name>
        </value>
    </entry>
    <entry>
        <key>Strict Host Key Checking</key>
        <value>
            <name>Strict Host Key Checking</name>
        </value>
    </entry>
    <entry>
        <key>Host Key File</key>
        <value>
            <name>Host Key File</name>
        </value>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>
            <name>Connection Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Data Timeout</key>
        <value>
            <name>Data Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Send Keep Alive On Timeout</key>
        <value>
            <name>Send Keep Alive On Timeout</name>
        </value>
    </entry>
    <entry>
        <key>target-system-timestamp-precision</key>
        <value>
            <name>target-system-timestamp-precision</name>
        </value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
            <name>proxy-configuration-service</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>
            <name>Proxy Type</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Host</key>
        <value>
            <name>Proxy Host</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Port</key>
        <value>
            <name>Proxy Port</name>
        </value>
    </entry>
    <entry>
        <key>Http Proxy Username</key>
        <value>
            <name>Http Proxy Username</name>
        </value>
    </entry>
    <entry>
        <key>Http Proxy Password</key>
        <value>
            <name>Http Proxy Password</name>
        </value>
    </entry>
    <entry>
        <key>et-state-cache</key>
        <value>
            <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
            <name>et-state-cache</name>
        </value>
    </entry>
    <entry>
        <key>et-time-window</key>
        <value>
            <name>et-time-window</name>
        </value>
    </entry>
    <entry>
        <key>et-initial-listing-target</key>
        <value>
            <name>et-initial-listing-target</name>
        </value>
    </entry>
    <entry>
        <key>Minimum File Age</key>
        <value>
            <name>Minimum File Age</name>
        </value>
    </entry>
    <entry>
        <key>Maximum File Age</key>
        <value>
            <name>Maximum File Age</name>
        </value>
    </entry>
    <entry>
        <key>Minimum File Size</key>
        <value>
            <name>Minimum File Size</name>
        </value>
    </entry>
    <entry>
        <key>Maximum File Size</key>
        <value>
            <name>Maximum File Size</name>
        </value>
    </entry>
</descriptors>
<executionNode>PRIMARY</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>listing-strategy</key>
        <value>timestamps</value>
    </entry>
    <entry>
        <key>Hostname</key>
        <value>localhost</value>
    </entry>
    <entry>
        <key>Port</key>
        <value>22</value>
    </entry>
    <entry>
        <key>Username</key>
        <value>madhusudan.tn</value>
    </entry>
    <entry>
        <key>Password</key>
    </entry>
    <entry>
        <key>Private Key Path</key>
    </entry>
    <entry>
        <key>Private Key Passphrase</key>
    </entry>
    <entry>
        <key>Remote Path</key>
        <value>/Users/madhusudan.tn/downloads/incoming</value>
    </entry>
    <entry>
        <key>Distributed Cache Service</key>
    </entry>
    <entry>
        <key>Search Recursively</key>
        <value>false</value>
    </entry>
    <entry>
        <key>follow-symlink</key>
        <value>false</value>
    </entry>
    <entry>
        <key>File Filter Regex</key>
    </entry>
    <entry>
        <key>Path Filter Regex</key>
    </entry>
    <entry>
        <key>Ignore Dotted Files</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Strict Host Key Checking</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Host Key File</key>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>30 sec</value>
    </entry>
    <entry>
        <key>Data Timeout</key>
        <value>30 sec</value>
    </entry>
    <entry>
        <key>Send Keep Alive On Timeout</key>
        <value>true</value>
    </entry>
    <entry>
        <key>target-system-timestamp-precision</key>
        <value>auto-detect</value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>DIRECT</value>
    </entry>
    <entry>
        <key>Proxy Host</key>
    </entry>
    <entry>
        <key>Proxy Port</key>
    </entry>
    <entry>
        <key>Http Proxy Username</key>
    </entry>
    <entry>
        <key>Http Proxy Password</key>
    </entry>
    <entry>
        <key>et-state-cache</key>
    </entry>
    <entry>
        <key>et-time-window</key>
        <value>3 hours</value>
    </entry>
    <entry>
        <key>et-initial-listing-target</key>
        <value>all</value>
    </entry>
    <entry>
        <key>Minimum File Age</key>
        <value>0 sec</value>
    </entry>
    <entry>
        <key>Maximum File Age</key>
    </entry>
    <entry>
        <key>Minimum File Size</key>
        <value>0 B</value>
    </entry>
    <entry>
        <key>Maximum File Size</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>true</executionNodeRestricted>
                            <name>ListSFTP</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style>
<entry>
    <key>background-color</key>
    <value>#411ea8</value>
</entry>
                            </style>
                            <type>org.apache.nifi.processors.standard.ListSFTP</type>
                        </processors>
                    </contents>
                    <name>sftpinput</name>
                    <variables/>
                </processGroups>
            </contents>
            <name>SFTP</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>11/19/2019 22:18:28 IST</timestamp>
</template>
